@import url("https://fonts.googleapis.com/css2?family=Ubuntu&family=Source+Code+Pro&family=Source+Code+Pro&family=Rajdhani&family=Chivo+Mono&display=swap");

#root {
  display: flex;
  height: 100%;
  margin: 0 auto;
}

:root {
  --vh: 1vh;
  --font-family: "Rajdhani", sans-serif;
  --title-font: "Ubuntu", sans-serif;
  --font-color: black;
  --color-custom: #8099ed;
  --color-custom-disabled: #c9c9bd;
  --toolbar-background: #9fd1f5;
  --body-background: #e1eef7;
  --button-color: #4a934a;
  --button-hover-color: #398039;
  --oval-chip-selected-color: #57768c;
  --modal-background-color: #dfe7ed;
}

html,
body {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  height: calc(100 * var(--vh));
  margin: 0;
  background-color: var(--body-background);
  font-family: var(--font-family);
  font-variant-ligatures: none;
  overflow: scroll;
}

// TOOLBAR - START

.tool-bar-root {
  box-sizing: border-box;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  background-color: var(--toolbar-background) !important;
}

.tool-bar-icon-container {
  display: flex;
  flex-direction: row;
}

.tool-bar-icon-setting-container {
  margin-right: 20px;
}

.tool-bar-sub-root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tool-bar-heading-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tool-bar-app-icon {
  margin-right: 10px;
}

.tool-bar-heading {
  color: var(--font-color);
}

.tool-bar-setting-icon {
  color: var(--font-color);
}

// TOOLBAR - END

// HOME - START

.home-component {
  margin-top: 80px;
}

// HOME - END

// DROPDOWN - START

.dropdown-root {
  min-width: 220px !important;
  margin-bottom: 20px !important;
}

// DROPDOWN - END

// MODAL - START

.modal-box {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: 80% !important;
  height: 80% !important;
  box-shadow: 24 !important;
  background-color: var(--modal-background-color);
  border-radius: 10px !important;
  padding: 26px !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  padding-bottom: 50px !important;
  outline: 0 !important;
  box-sizing: border-box;
}

.modal-containter-root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-body-root {
  height: 80%;
  margin-top: 16px;
  padding-top: 26px;
  overflow-y: scroll;
  align-items: center;
}

.drop-down-modal-root {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 10px;
}

.parts-modal-root {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
  gap: 10px;
}

.modal-button-container {
  position: absolute;
  bottom: 20px;
  right: 50px;
  box-sizing: border-box;
}

.modal-previos-button-style {
  margin-right: 20px;
}
// MODAL - END

// Button
.button-root {
  min-width: 80px;
  min-height: 35px;
  background-color: var(--button-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px rgb(136, 135, 135);
}

.button-root:hover {
  background-color: var(--button-hover-color);
}
// Button

//ICON - START
.icon-curser-pointer {
  cursor: pointer;
}

// ICON - END

// Hide increment and decrement from text field
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// TEXTFIELD - START
.text-field-root {
  margin-bottom: 16px !important;
  min-width: 120px;
  width: 220px;
}
// TEXTFIELD - END

// OVAL CHIPS
.oval-chips-root {
  min-height: 40px !important;
}

.oval-chip-Selected {
  background-color: var(--oval-chip-selected-color) !important;
}

// TOOLTIP - START
.MuiTooltip-tooltip {
  color: white !important;
  font-size: 0.9rem !important;
}

// TOOLTIP - END

// TYPOGRAPHY - START
.typography-root {
  color: var(--font-color);
}
// TYPOGRAPHY - END

// MUI CSS - START
// .MuiFormLabel-root {
//   color: var(--font-color) !important;
// }

// .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
//   border-color: var(--font-color) !important;
// }

// .customTextField .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
//   border-color: var(--font-color) !important;
// }

// .MuiInputBase-input {
//   color: var(--font-color) !important;
// }
// MUI CSS - END
